.typeahead-standalone {
  position: relative;
  text-align: left;
  color: var(--bs-body-color, #000);
}
.typeahead-standalone .tt-input {
  z-index: 1;
  background: transparent;
  position: relative;
}
.typeahead-standalone .tt-hint {
  cursor: default;
  user-select: none;
  background: var(--bs-body-bg, #fff);
  color: silver;
  z-index: 0;
}
.typeahead-standalone .tt-list {
  background: var(--bs-body-bg, #fff);
  z-index: 1000;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid var(--bs-border-color, rgba(50, 50, 50, 0.6));
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  max-height: 70vh;
}
.typeahead-standalone .tt-list.tt-hide {
  display: none;
}
.typeahead-standalone .tt-list div[class^="tt-"] {
  padding: 0 4px;
}
.typeahead-standalone .tt-list .tt-suggestion:hover,
.typeahead-standalone .tt-list .tt-suggestion.tt-selected {
  background: var(--bs-primary, #55acee);
  color: var(--bs-white, #fff);
  cursor: pointer;
}
.typeahead-standalone .tt-list .tt-suggestion .tt-highlight {
  font-weight: 900;
}
.typeahead-standalone .tt-list .tt-group {
  background: var(--bs-secondary-bg, #eee);
}
